<div class="item category level{{level}} {{#savestate_open}}savestate_open{{/savestate_open}}" data-id={{id}} data-level={{level}}>
    <div class="collapse_item"></div>
    <div class="title">{{{title}}}</div> 
    {{#enable_compact_view}}
          {{> block_msmycourses2/compact_selector}}
    {{/enable_compact_view}} 
    <div class="children"></div>             
</div>