<div class="msmycourses_wrapper">
          {{#show_alt_view}}{{> block_mycourse/switch_view }}{{/show_alt_view}}
          <div class="empty">{{#str}}no_courses, block_mycourse{{/str}}</div>
          <div class="items"></div>
</div>