<div class="msmycourses_wrapper">
          {{#show_alt_view}}{{> block_msmycourses2/switch_view }}{{/show_alt_view}}
          <div class="empty">{{#str}}no_courses, block_msmycourses2{{/str}}</div>
          <div class="items"></div>
</div>