<div class="setfavoritecourse {{is_favorite}}" data-courseid="{{id}}" {{#remove_activities}}data-remove_activities="1"{{/remove_activities}}>
      <div class="favoriteicon is_favorite">{{#pix}}favorite, format_msmultiformat{{/pix}}</div>
      <div class="favoriteicon not_favorite">{{#pix}}not_favorite, format_msmultiformat{{/pix}}</div>
</div>