<div class="msmycourses_wrapper">
          {{#show_alt_view}}{{> block_mycourse/switch_view }}{{/show_alt_view}}
  {{#header}}
        {{> block_mycourse/header_category }}
  {{/header}}
<div class="items {{display_type}} {{num_tiles}}">
  {{#slider}}
          {{> block_mycourse/course_slider }}
  {{/slider}}
  {{^slider}}

            {{#records}}
                    {{> block_mycourse/item }}
            {{/records}}
  {{/slider}}
</div>
  {{#next}}{{> block_mycourse/more }}{{/next}}
</div>