<div class="msmycourses_wrapper">
          {{#show_alt_view}}{{> block_mycourse/switch_view }}{{/show_alt_view}}
  <div class="items menu tiles{{num_tiles}} {{diagram_type}}">
  <div class="header"><h2>{{header}}</h2></div>
        {{#records}}
            {{> block_mycourse/menu_item }}
        {{/records}}
  
  {{#show_back}}{{> block_mycourse/back }}{{/show_back}}
  </div>
</div>